@model List<Entity.Models.Database.User>
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Serial</th>
        <th>Name</th>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    @foreach (var u in Model)
    {
<tr>
    <td>@u.Serial</td>
    <td>@u.Name</td>
    <td>@u.Id</td>
    <td>@u.Email</td>
    <td>@u.Username</td>
    <td>@u.Password</td>

    <td>
        <a href="/User/Edit/@u.Serial" class="btn btn-info">Update</a>
        <a href="/User/Sure/@u.Serial" class="btn btn-danger">Remove</a>
    </td>
    
</tr>
    }
</table>

